<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>ContatoCreateAndFind</display-name>
    <servlet-name>ContatoCreateAndFind</servlet-name>
    <servlet-class>controllers.ContatoCreateAndFind</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContatoCreateAndFind</servlet-name>
    <url-pattern>/CreateAndFind</url-pattern>
  </servlet-mapping>
  <display-name>javacrudzarparbahia</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Contatoapagar</display-name>
    <servlet-name>Contatoapagar</servlet-name>
    <servlet-class>controllers.ContatoDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Contatoapagar</servlet-name>
    <url-pattern>/Contatoapagar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ContatoFindAndUpdate</display-name>
    <servlet-name>ContatoFindAndUpdate</servlet-name>
    <servlet-class>controllers.ContatoFindAndUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContatoFindAndUpdate</servlet-name>
    <url-pattern>/ContatoFindAndUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>lista</display-name>
    <servlet-name>lista</servlet-name>
    <jsp-file>/lista.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>lista</servlet-name>
    <url-pattern>/lista</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>formUpdate</display-name>
    <servlet-name>formUpdate</servlet-name>
    <jsp-file>/formUpdate.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>formUpdate</servlet-name>
    <url-pattern>/formUpdate</url-pattern>
  </servlet-mapping>
</web-app>